<!DOCTYPE html>
{%extends 'homeApp/base.html'%}
{% load staticfiles%}
{%block base_home%}
<div class="container" align=center>
<div class="jumbotron" id="jumbot">


<h1>AptiCom Careers Pvt. Ltd.</h1><hr id="hr">
<p>AptiCom Careers is a leading company focusing on campus recruitment training and competitive exam preparations. AptiCom Careers renders its service by motivating and guiding the aspirants by sowing the right seeds of preparedness so that they reap fruitful careers/employments in  future.<br><br><br><br>

Though officially registered in 2018, the patrons and trainers have been training lakhs of students both on and off campus since 2012 pan India. Knowing the demands of the current job sectors, AptiCom Careers realized that, training the Young India and procuring them with the required skills will contribute much to the development of the country by making each individual excel in his respective career.
<br><br><br><br>
We, at AptiCom Careers focus on building the basic skills which are poorly or not-at-all available to the students thusly enhancing the employability of the youth by catering quality education at affordable price. At AptiCom Careers we facilitate individuals to unleash their full potential and achieve their dreams. In a short span of time, AptiCom Careers now stands for trust, quality and fulfilled promises.</p>
</div>
</div>
{%endblock%}
