<!DOCTYPE html>
{%extends 'homeApp/base.html'%}
{% load staticfiles%}
{%block base_home%}
<div class="container" align="center">
  <div class="jumbotron" id='jumbot'>


<h1>Contact Us</h1><hr id="hr">
<p>Contact Details:<br><br><br><br>

Registered Office:<br>
AptiCom Careers Pvt. Ltd.<br>
Raj Mata Colony,<br>
Raj Bari Road,<br>
Jharia, Dhanbad- 828111 <br>
Jharkhand <br>
<br><br><br>

Branch Address:<br>
AptiCom Careers Pvt. Ltd.<br>
Main Road, <br>
Bata More,<br>
Abov ICICI Bank ATM,<br>
Fatehpur Road, <br>
Jharia, Dhanbad- 828111
<br><br><br>

Branch Address :<br>
AptiCom Careers Pvt. Ltd.<br>
AB 139, Street No. 92, Near New Town Bus Stand,<br>
Kolkata- 700156
<br><br><br>

</p>
  </div>
</div>
{%endblock%}
