<!DOCTYPE html>
{%extends 'homeApp/base.html'%}
{% load staticfiles%}
{%block base_home%}
<div class="container" >
<div class="jumbotron"  id='jumbot'>
  <h1 id="name"><img id="logo" src="{%static 'images/Logo_1(1)(1)-page-001.jpg'%}" alt="">AptiCom Careers Pvt. Ltd.</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button" id="demoButton">Apply for free demo classes <i class="fas fa-arrow-circle-right"></i></a></p>
</div>
</div>

</div>
<div class="container">

<div class="row">
  <div class="col-lg-6">
    <div class="thumbnail"  id="gridcolor">
        <h1>Our classes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <a href="#">Learn  more..</a>
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail"  id="gridcolor">
      <img id="gridimage" src="{%static 'images/classes.jpg'%}" alt="">
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail"  id="gridcolor">
        <img id="gridimage" src="{%static 'images/career.jpg'%}" alt="loading..">
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail" id="gridcolor">
        <h1>Carrer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
        <a href="#">Learn  more..</a>
   </div>
  </div>

  <div class="col-lg-6">
    <div class="thumbnail" id="gridcolor">
        <h1>Location</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <a href="#">Learn  more..</a>
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail"  id="gridcolor">
        <img id="gridimage" src="{%static 'images/maps.jpg'%}" alt="loading..">
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail"  id="gridcolor">
        <img id="gridimage" src="{%static 'images/gallery.jpg'%}" alt="loading..">
   </div>
  </div>
  <div class="col-lg-6">
    <div class="thumbnail" id="gridcolor">
        <h1>Gallery</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
        <a href="#">Learn  more..</a>
   </div>
  </div>
</div>
</div>

{%endblock%}
